.LandingPage {
    width: 100%;
    height: 100%;
    background-color: rgb(23, 23, 23);
    background-image: url('/world_map_dark_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}

.LandingPage .container {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 50px;
    align-items: center;
}

.LandingPage p {
    width: 800px;
    max-width: 95%;
    font-size: 2rem;
    text-align:center;
    line-height: 3.5rem;
    font-weight: bold;
    text-decoration: underline;
}

.LandingPage button {
    border: none;
    background-color: inherit;
    color: inherit;
    width: 300px;
    height: 50px;
    border: white 1px solid;
    background-color: rgb(23, 23, 23);
    border-radius: 3px;
    font-size: 1.25rem;
}

.LandingPage h1 {
    font-size: 3.5rem;
}