

.CurrentStarlink {
    position: absolute;
    z-index: 10;
    width: 300px;
    aspect-ratio: 1;
    background-color: rgb(23, 23, 23);
    border: 1px solid white;
    color: white;
    bottom: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 20px;
    padding: 20px 20px;
    text-align: justify;
}

.CurrentStarlink div {
    width: 100%;
}